* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/*Background Image*/
body {
	background: url(./images/fakurian-design-pf.jpg);
	background-color: #e0e1dd;
	background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}
/*End of Background Image*/

section {
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*Navbar*/
.nav-link {
	font-size: 2rem;
	margin-right: 10px;
	margin-left: 5px;
}
/*End of Navbar*/

/*Home Page*/
#home-page {
	line-height: 1.2;
}

#home-page h2 {
	color: #bcbec3;
	font-family: 'Sen', sans-serif;
	font-size: 6.4rem;
	text-shadow: -4px 1px #54534c;
	margin: 0;
}

#home-page strong {
	display: block;
	color: #686a6c;
	font-family: 'Syncopate', sans-serif;
	font-size: 12.5rem;
	text-shadow: -8px 5px #807c82;
}

#home-page p {
	color: #848488;
	font-family: 'IBM Plex Serif', serif;
	font-size: 3em;
	text-shadow: -2px 1px #58585b;
}

#home-page em {
	display: block;
	color: #898c84;
	text-shadow: -1.5px 0.5px #60625c;
}
/*End of Home Page*/

/*Project Page*/
#project-grid {
	display: grid;
	grid-template-rows: repeat(7, minmax(50px, auto));
	grid-template-columns: repeat(6, minmax(50px, auto));
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-gap: 0.1rem;
	margin: 0 auto;
}

#project-grid div {
	padding: 0.5em;

}

.grid-1 {
	grid-row: 3/7;
	grid-column: 1/3;
}

.grid-2 {
	grid-row: 2/6;
	grid-column: 3/5;
}

.grid-3 {
	grid-row: 1/5;
	grid-column: 5/7;
}
/*End of Project Page*/

/*Contact Page*/
.container {
	background-color: #bfc1c6;
	box-shadow: 0px 0px 20px #b1b4ba;
	border-radius: 8px;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

form {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	width: 100%;
}

form input, form textarea, form button {
	border: 1px solid;
	border-color: #d5d7d6;
	border-style: groove;
	border-radius: 3px; 
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

form button {
	font-weight: bold;
	background-color: #cccdcf;
	color: #383838;
	margin: 0;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
	background-color: #e3e5e3;
}

button[type="submit"]:hover {
	background-color: #d4d5d6;
}
/*End of Contact Page*/

/*Footer Page*/
#footer-page {
	font-family: 'Quicksand', sans-serif;
}
#footer-page p {
	color: #848488;
	font-weight: bold;
	margin: 0;
}

#footer-page a {
	color: #686a6f;
	font-weight: bolder;
}
/*End of Footer Page*/

/*Media Query*/
@media screen and (max-width: 576px) {
	#home-page h2 {
		font-size: 1.7rem;
		text-shadow: -2px 1px #54534c;
	}
	#home-page strong {
		font-size: 4.25rem;
		text-shadow: -4px 1px #807c82;
	}
	#home-page p {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	#home-page h2 {
		font-size: 2.6rem;
		text-shadow: -2.4px 1px  #54534c;
	}
	#home-page strong {
		font-size: 5rem;
		text-shadow: -5.1px 1px #807c82;
	}
	#home-page p {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	#home-page h2 {
		font-size: 3.4rem;
		text-shadow: -2.8px 1px  #54534c;
	}
	#home-page strong {
		font-size: 7.1rem;
		text-shadow: -5.8px 2px #807c82;
	}
	#home-page p {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1750px) {
	#home-page h2 {
		font-size: 5rem;
		text-shadow: -3.2px 1px  #54534c;
	}
	#home-page strong {
		font-size: 9.5rem;
		text-shadow: -6.5px 3px #807c82;
	}
	#home-page p {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 1750px) and (max-width: 2000px) {
	#home-page h2 {
		font-size: 5.9rem;
		text-shadow: -3.6px 1px  #54534c;
	}
	#home-page strong {
		font-size: 10.1rem;
		text-shadow: -7.3px 4px #807c82;
	}
	#home-page p {
		font-size: 2.7rem;
	}
}

@media screen and (max-width: 1280px) {

	.grid-1 {
		grid-row: 6/8;
		grid-column: 2/4;
	}

	.grid-2 {
		grid-row: 4/6;
		grid-column: 3/5;
	}

	.grid-3 {
		grid-row: 2/4;
		grid-column: 4/6;
	}
}

@media screen and (max-width: 990px) {
	#footer-page p {
		color: #8a8c8c;
	}

	#footer-page a {
		color: #cccdcf;
	}
}
/*End of Media Query*/